<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farm agent</title>
    <link rel="stylesheet" href="{{ url_for('static' ,filename='css/style.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='images/ai.ico') }}" type="image/x-icon">
</head>
<body>
    <div class="showwe-box">
        <div class="box9">
            <img src="{{ url_for('static', filename='images/weather.jpg')}}">
        <h1>City : {{ name }}</h1>
        <h2>Description : {{ desc }}</h2>
        <h2>Temperature : {{ temp }}</h2>
        <h2>Humidity : {{ humidity }}</h2>
    </div>
    </div>
</body>
</html>